doctype html
html(manifest=config.manifest)
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Home - #{config.appname}
		meta(name='viewport', content='width=device-width', initial-scale='1')
		link(rel='stylesheet', href=config.css.dist)
	body
		h1 Hello!
		script(src=config.js.dist)
